/* tslint:disable */
/* eslint-disable */

import React, {FunctionComponent } from 'react';
import {Svg,Path} from '@/components/Svg'
import { SvgProps } from 'react-native-svg';
import { getIconColor } from './helper';

type Props = Omit<SvgProps,'color'> & {
  size?: number;
  color?: string | string[];
}

const #componentName#: FunctionComponent<Props> = ({ size, color, style, ...rest }) => {
  

  return (#iconContent#  );
};


export default #componentName#;
